<!DOCTYPE html>
<html lang="he">
<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/style.css" media="all">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>


	<!DOCTYPE html>
	<html lang="he">
	<head>
			<meta charset="UTF-8">
			<title></title>
			<link rel="stylesheet" href="css/style.css" media="all">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="css/main.css">
			<script src="js/main.js"></script>
			<link rel="stylesheet" href="css/panel.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


	</head>

	<body dir="rtl">







		<div class="mainwrapper">





			<header class="header">
				<img src="http://contentz.mkt6296.com/lp/27811/334439/public_html/images/header.jpg">
			</header>

			<section class="innerContent">
			<div>
				<h1 style="font-size: 20px">
תודה, פרטייך נקלטו בהצלחה !!

				</h1>

			</div>
			</section>











			</section>

					<footer>
						<img src="http://contentz.mkt6296.com/lp/27811/334439/public_html/images/footer.jpg">
						<h4>הטבה אחת בלבד ללקוח | ההטבה אלקטרונית, טעונה בכרטיס המועדון ומותנית ברישום להטבה | ההטבה אישית ואינה ניתנת להעברה | תוקף החידוש לשנה, החל מה- 19.11.17 ועד 19.11.18, בקיזוז 9.90 נק' | כפוף לתקנון המועדון</h4>
					</footer>



		</div>



	</body>

	</html>
