<html class="gr__links_ness_mkt6296_com"><head>
	<title>SuperFriends</title>
</head>
<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">
<table style="width: 600px;" cellspacing="0" cellpadding="0" border="0" align="center">

		<tbody>
		<tr>
			<td dir="rtl" style="text-align: center;">&nbsp;</td>
		</tr>
		<tr>
			<td dir="rtl" style="text-align: center;"><span style="font-size:20px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>jjj, תודה על הרשמתך !!</strong></span></span></td>
		</tr>
		<tr>
			<td>
			<div style="text-align: center;"><img alt="Step-in" src="http://contentz.mkt6296.com/ra/2018/27811/05/13571859/LANDING-PAGE-2.jpg" title="Step-in" width="600" height="629" border="0"></div>

			<div dir="rtl" style="text-align: center;"><span style="font-size:20px;"><strong><span style="font-family:arial,helvetica,sans-serif;"><br>
			קוד ההטבה ל-10% הנחה:</span></strong></span></div>
			</td>
		</tr>
		<tr>
			<td dir="ltr" style="text-align: center;"><strong style="font-size: 20px; text-align: center;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;{{coupon}}</span></strong></td>
		</tr>
		<tr>
			<td dir="rtl" style="text-align: center;"><strong style="font-size: 20px; text-align: center;"><span style="font-family: arial, helvetica, sans-serif;">יש להציג במעמד התשלום בקופה, למימוש חד פעמי באחת מהרשתות המשתתפות, עד 30.6.18.</span></strong><br>
			&nbsp;</td>
		</tr>
		<tr>
			<td dir="rtl" style="text-align: center;">&nbsp;</td>
		</tr>
		<tr>
			<td dir="rtl" style="text-align: center;"><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">הטבה אחת בלבד ללקוח | מימוש ההטבה עד ל-30.6.18, באחריות הלקוח וע"פ שיקול דעתו | ההטבה אישית ואינה ניתנת להעברה | למימוש חד פעמי באחת מהרשתות המשתתפות: גלי, סולוג, לי קופר, ניין ווסט, איזי ספיריט, אן קליין ושואו-אופ | מוגבל ל-60,000 הנרשמים הראשונים | כפוף לתנאי המבצעים ולתקנון האתר</span></span></td>
		</tr>
		<tr>
			<td dir="rtl" style="text-align: center;">&nbsp;</td>
		</tr>
		<tr>
			<td dir="rtl" style="text-align: center;"><img alt="footer" src="http://contentz.mkt6296.com/ra/2018/27811/05/13571859/banner-footer-B.JPG" title="footer" width="600" height="94" border="0"></td>
		</tr>
		<tr>
			<td>
			<hr>
			<div style="text-align: center;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;"></span></span></div>
			</td>
		</tr>
		<tr>
			<td dir="rtl" style="text-align: center;"><span style="font-size:12px;"><span style="font-family:arial,helvetica,sans-serif;">למידע נוסף או עזרה ניתן לפנות לשירות הלקוחות בטלפון 1-700-70-78-79 או בכתובת הבאה: cs@brillind.co.il.<br>
			אין להשיב למייל זה.<br>
			זוהי פנייה בדיוור ישיר על בסיס מאגר מידע רשום של לקוחות קבוצת בריל שמספרו 600016134<br>
			ובעליו הרשום היא חברת בריל תעשיות נעליים בע"מ, 520038647, ברחוב פריימן 20, ראשל"צ. טלפון במשרדים: 03-9590501.<br>
			להסרה מרשימת התפוצה&nbsp;לחץ&nbsp;<a href="http://links.ness.mkt6296.com/servlet/OneClickOptOutServlet?m=13571859&amp;r=MjY5NDUxNTkyNjk2S0&amp;b=0&amp;j=MTQwMjQzMTA4MAS2&amp;mt=2&amp;rj=MTQwMjQyNjcxNwS2&amp;rt=0" name="Opt Out" target="_blank">כאן</a><br>
			<br>
		</tr>

</tbody></table>
<img src="http://links.ness.mkt6296.com/open/log/13571859/MjY5NDUxNTkyNjk2S0/3/MTQwMjQzMTA4MAS2/2/MTQwMjQyNjcxNwS2/0" style="display: none">

</body></html>
