<!DOCTYPE html>
<html lang="he">
<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/style.css" media="all">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/main.js"></script>
		<link rel="stylesheet" href="css/panel.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="js/panel.js"></script>

</head>

<body dir="rtl">


		<!-- The Modal -->
	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <h1>拽专 拽转</h1>
	    <hr>

	    <img src="img/tab.png" style="margin">
	    <h3 class="modalInner">抓 注   注专   砖 祝</h3>


	    <img src="img/enter.png" style="margin">
	    <h3 class="modalInner"> 驻转  专 拽砖 ENTER</h3>


	    <img src="img/arrow.png" style="margin">
	    <h3 class="modalInner"> 注转 注, , , 砖 抓 注 驻转专 爪</h3>


	    <img src="img/esc.png" style="margin">
	    <h3 class="modalInner"> 爪转  住 抓 注 拽砖 - ESC</h3>


	    <img src="img/end.png" style="margin">
	    <h3 class="modalInner"> 注专 住祝 砖专  住, 砖 拽砖 注 拽砖 - END</h3>


	    <img src="img/home.png" style="margin">
	    <h3 class="modalInner"> 注专 转转 砖专  住, 砖 拽砖 注 拽砖 转</h3>


	  </div>

	</div>






	<div class="mainwrapper">

		<div id="panel_icon" onclick="myFunction()">
	<img src="img/icon.png">
</div>

<div id="panel_box">
	<ul>

		<li  id="panelIcon">
			<div class="listOption" onclick="displayNone()">
				<p>
					<img src="img/icon.png" > <span class="closep">住专</span></p>
			</div>
		</li>

		<li >
			<div class="listOption"><button id="myBtn"><img src="img/tabA.png" class="menuIcon">拽转</button></div>
		</li>

		<li >
			<div class="listOption"><button id="increase"><img src="img/increase.png" class="menuIcon"> 拽住</button></div>
		</li>

		<li >
			<div class="listOption"><button id="decrease"> <img src="img/decrese.png" class="menuIcon">拽 拽住</button></div>
		</li>

		<li >
			<div class="listOption"><button id="black"><img src="img/black.png" class="menuIcon">砖专-</button></div>
		</li>


		<li >
			<div class="listOption"><button id="delcaration" onclick="openInNewTab('Accessabilty_Decleration.pdf')" ><img src="img/declartion.png" class="menuIcon">爪专转 砖转</button></div>
		</li>

		<li >
			<div class="listOption"><button onclick="resetMe()"><img src="img/reset.png" class="menuIcon">驻住</button></div>
		</li>

		<li >
			<div class="listOption"><a href="mailto:guerlain@sch.co.il?Subject=My Guerlain 砖专转 拽转" target="_top"> <button><img src="img/mail.png" class="menuIcon">爪专 拽砖专</button></a></div>
		</li>




	</ul>

</div>




		<section class="slider">
			<img src="images/LANDING-PAGE.JPG">
		</section>

		<section class="innerContent">

		</section>

		<%if(coupon==false){%>
			<p style="color:red; text-align:center;">转 注 转注转, 驻注转 住转.
专爪 砖专 注 拽砖专 驻注转  ?  驻专 砖专 注... </p>
		<%}%>

		<section class="formdata">
			<form name="" alt="" novalidate autocomplete="disable" method="post" action="/" onsubmit="return validateForm()">
				<div class="two-column">


					<p class="fill_up_title">拽转 转 10% ,  驻专 :
</p>
					<div class="right">
						<label class="inputLabel" >砖 驻专:</label>
						<input type="text" name="FirstName" id="FirstName" onkeydown="clearFirstName()">
						<label class="errorMessage" id="firstNameError">h1</label>
					</div>




					<div class="left">
						<label class="inputLabel">砖 砖驻:</label>
						<input type="text" name="LastName" id="LastName" onkeydown="clearLastName()">
						<label class="errorMessage" id="lastNameError">h1</label>
					</div>

				</div>
				<div style="clear: both;"></div>

			<!-- 	<div class="email">
					<label class="inputLabel">专 拽专:</label>
					<input type="text" name="email" id="email" onkeydown="clearEmail()">
					<label class="errorMessage" id="emailError">h1</label>
				</div>
				 -->

				 <div class="two-column">

					<div class="right">
						<label class="inputLabel" >驻 :</label>
						<input type="text" name="telephone" id="telephone"  onkeydown="clearTelephone()">
						<label class="errorMessage" id="telephoneError">h1</label>
					</div>

					<div class="left">
						<label class="inputLabel">转转 : </label>
						<input type="text" name="email" id="email" onkeydown="clearEmail()">
						<label class="errorMessage" id="emailError">h1</label>
					</div>

				</div>

				<div style="clear: both;"></div>





				<div class="lastContent">

					<div class="rightCheckbox">

						<div class="check_box">

							<div class="box1">
								<input type="checkbox" name="checkbox1" id="checkbox1" onclick="toggle1()">
							</div>

							<div class="box2">
									<p> 砖专/转 专砖 驻专 专 拽转 拽爪转 专, 住驻专 600016134 砖注  专 转注砖转 注 注", .爪. 200038647, 专 驻专 20, 专砖"爪, 爪专 拽转 驻专住 注 爪注  砖 专 专转 砖转.  注转, 转 驻住拽 拽 注 拽砖 拽 专 驻 转 转转 "  专 砖转爪 专 注爪.</p>
									<label class="errorMessage" id="checkbox1Error">砖 砖专 转 转拽 驻注转</label>
							</div>

						</div>


					</div>



					<div class="leftSubmit">
						<div class="submitbtn">
						<input type="submit" value="砖">
						</div>

					</div>



				</div>




			</form>



		</section>

				<footer>
					<img src="images/banner-footer.jpg">
					<p style="text-align:center"> 转  拽 | 砖  注 -30.6.18, 专转 拽 注"驻 砖拽 注转 |  砖转  转转 注专 | 砖  驻注 转 专砖转转 砖转转驻转: , 住,  拽驻专,  住,  住驻专,  拽 砖-驻 |  -60,000 专砖 专砖 | 驻祝 转 爪注 转拽 转专</p>
				</footer>



	</div>


	      <script>

				document.getElementById('telephone').addEventListener('input', function (e) {
				  var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,7})/);
				  e.target.value = !x[2] ? x[1] : '' + x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
				});



	      // Get the modal
	      var modal = document.getElementById('myModal');

	      // Get the button that opens the modal
	      var btn = document.getElementById("myBtn");

	      // Get the <span> element that closes the modal
	      var span = document.getElementsByClassName("close")[0];

	      // When the user clicks the button, open the modal
	      btn.onclick = function() {
	          modal.style.display = "block";
	      }

	      // When the user clicks on <span> (x), close the modal
	      span.onclick = function() {
	          modal.style.display = "none";
	      }

	      // When the user clicks anywhere outside of the modal, close it
	      window.onclick = function(event) {
	          if (event.target == modal) {
	              modal.style.display = "none";
	          }
	      }
	      </script>


</body>

</html>
